
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
   
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: rgba(42, 106, 179, 0.719);
}

nav ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    height: 71px;
}


nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.5s;
    transition: border 0.1s;
    
    

    
}
nav ul li a:hover{
    color: #ff01cf;
    border: 2px solid rgb(221, 22, 22);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 10px;
}
nav ul li a1 {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
}


