*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: rgb(5, 5, 102);
}
main{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 290px);
    grid-template-columns: repeat(auto-fill, minmax(250px , 250px));
   }
.container{
    width: 200px;
    height: 300px; 
    display: flex;
    padding: 10px;
    margin-right: 0px;
    
}
.card{
    width: 440px;
    max-width: 440px;
    color: #FFF;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255,255,255,0.3);
    background:rgba(255,255,255,0.2) ;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter:blur(5px);
}

.card img{
    width: 40%;
    border-radius: 50%;
}

.card h1{
    font-size: 90%;
    font-weight:600;
    margin-top: 10%;
}

.card p{
    font-size: 60%;
    margin: 5% auto;
    max-width: 400%;
}

.card .links img{
    width: 18%;
    border-radius: 50%;
    margin: 1% 1%;
    transition: background 0.5s;
    transition: width 0.5s;
}

.card .links img:hover{
    width: 30%;
    background: #ff01cf;

}
.bts{
    text-decoration: noun;
    display: inline-block;
    font-size:100%;
    font-weight:500;
    background:#fff;
    color:#ff01cf;
    padding: 5% 5%;
    border-radius: 30px;
    margin: 3% 0 1%;
    transform: background 0.5s;
    transition: color 0.5s;
}

.bts:hover{
    font-weight:10%;
    background: #ff01cf;
    color:#fcf5fa;
}
@media only screen and (max-width: 700px){







}