*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease all 0.5s;
    } 
    .sky_bg{
        z-index: 3;
        background-color: rgb(2, 1, 11);
    width: 100vw;
    height: 75px;
    
    
    
    }
    /* txt */
    .txt{
        z-index: 3;
        color: #f7f0f5;
        padding: 70px;
        padding-top: 170px;
        display: flex;
        
    }
    .txt1 h1{
        font-size: 90px;
        font-weight:600;
    }
    header .txt4{
        text-decoration: noun;
        display: inline-block;
        font-size:100%;
        font-weight:500;
        border: 1px solid rgb(255, 255, 255);
        color:#f8eef6;
        padding: 10px 15px;
        border-radius: 7px;
        margin: 3% 0 1%;
        transform: padding 0.5s;
        z-index: 3;
    }
    
    header .txt4:hover{
        padding: 15px 20px;
        
    } 
    header .txt5{
        z-index: 3;
        text-decoration: noun;
        display: inline-block;
        font-size:100%;
        font-weight:500;
        background:#fff;
        color:#080107;
        padding: 10px 15px;
        border-radius: 7px;
        margin: 3% 0 1%;
        transition: padding 0.5s;
    }
    .txt2{
        margin-left: 230px;
        z-index: 3;
    }
    header .txt5:hover{
        padding: 15px 20px;
    }

    /* queries for stars */
    header span{
    background-color:rgb(240, 233, 233);
    padding: 10px;
    z-index: 9;
    clip-path: polygon(50% 0%, 52% 37%, 98% 35%, 56% 44%, 79% 91%, 51% 48%, 21% 91%, 44% 45%, 2% 35%, 46% 38%);
    }
    
    header .star1{
        height: 25px;
        width: 25px;
        
    transform: rotate(20deg);
    position: absolute;
    top: 200px;
    right: 420px;
    transition: animation 0.3s ease-in-out infinite;
    z-index: 0;
    }
    header .star2{
        height: 15px;
        width: 15px;
        transform: rotate(20deg);
        position: absolute;
        top: 250px;
        right: 500px;
        transition: animation 0.3s ease-in-out infinite;
        z-index: 0;
        }
        header .star3{
            height: 15px;
            width: 15px;

            padding: 10px;
            transform: rotate(20deg);
            position: absolute;
            top: 100px;
            right: 600px;
            transition: animation 0.3s ease-in-out infinite;
            z-index: 0;
            }
            header .star4{
                height: 15px;
                width: 15px;
                transform: rotate(20deg);
                position: absolute;
                top: 400px;
                right: 650px;
                transition: animation 0.3s ease-in-out infinite;
                z-index: 0;
                }
                header .star5{
                    height: 15px;
                    width: 15px;
                    transform: rotate(20deg);
                    position: absolute;
                    top: 470px;
                    right: 400px;
                    transition: animation 0.3s ease-in-out infinite;
                    z-index: 0;
                    }
                    header .star6{
                        height: 15px;
                        width: 15px;
                        transform: rotate(20deg);
                        position: absolute;
                        top: 150px;
                        right: 500px;
                        transition: animation 0.3s ease-in-out infinite;
                        z-index: 0;
                        }
                        header .star7{
                            height: 15px;
                            width: 15px;
                            transform: rotate(20deg);
                            position: absolute;
                            top: 190px;
                            right: 600px;
                            transition: animation 0.3s ease-in-out infinite;
                            z-index: 0;
                            }
                            header .star8{
                                height: 15px;
                                width: 15px;
                                transform: rotate(20deg);
                                position: absolute;
                                top: 180px;
                                right: 700px;
                                transition: animation 0.3s ease-in-out infinite;
                                z-index: 0;
                                }

    header .star1:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
    header .star2:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
    header .star3:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
    header .star4:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
    header .star5:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
    header .star6:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
    header .star7:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
    header .star8:hover{
        animation: pulsate .3s ease-in-out infinite;
    }
   /* blinking star animation */
    @keyframes pulsate{
    0%{
    
    clip-path: polygon(50% 0%, 52% 37%, 98% 35%, 56% 44%, 79% 91%, 51% 48%, 21% 91%, 44% 45%, 2% 35%, 46% 38%);
    }
    50%{
    
    clip-path: polygon(48% 21%, 53% 41%, 72% 40%, 54% 45%, 61% 57%, 49% 45%, 39% 59%, 43% 45%, 27% 40%, 46% 40%);
    }
    100%{
    
    clip-path: polygon(50% 0%, 52% 37%, 98% 35%, 56% 44%, 79% 91%, 51% 48%, 21% 91%, 44% 45%, 2% 35%, 46% 38%);
    }
    }

    /* nav */

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
   
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
   
}

nav ul {
    
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    height: 71px;
}


nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.5s;
    transition: border 0.1s;
}
nav ul li a:hover{
    color: #09ff01;
    border: 1.5px solid #09ff01;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 10px;
}
nav ul li a1 {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
}

